
@media screen and (min-width: 1500px) {

   
    #info{
        height: 80px;
        width: 200px;
       
        
    }
    
    #info:hover{
        height: 667px;
        width: 416px;  
      
    }
    
    
    .koptitel{
        font-size: 30px;
        top: 25%;
    }
    #info:hover .koptitel{
        top: 10%;  
    }
    
    
    .infotext{
         font-size: 20px;
         margin: 0px;
         top: 20%;
    }
    
    #info:hover .infotext{
        top: 20%;  
}

}