* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}

.containertop{
    height: 100vh;
}

.infocontainer{
    height: 100vh;
    width: 100%;
    background-image:url(../img/Danderovski_vector_sushi_image_1ed3e9c7-2d3f-4601-b929-36377884819d.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    display: flex;
    gap: 60px;
    
}

#info{
    height: 60px;
    width: 150px;
    background: rgba(239, 239, 239, 0.355);
    backdrop-filter: blur(5px) ;
    border-radius: 20px;
    top: 50%;
    
    transform: translate(-0%,-50%);
    position: relative;
    transition: all 1s;
    justify-content: center;
    transition-delay: 0.5s;
    
   
    
}
#slide{
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes slidein{
    0%{left: -60%;}
    100%{left: -30%;}
}

@keyframes slideout{
    0%{left: -30%;}
    100%{left: -60%;}
}

#info:hover{
    height: 500px;
    width: 250px;  
    transition: all 1s;
}


.koptitel{
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 25%;
    transition: all 1s;
    transition-delay: 0.5s;
    
    
}
#info:hover .koptitel{
    top: 10%;  
}


.infotext{
     text-align: center;
     position: relative;
     font-size: 20px;
     margin: 0px;
     top: 20%;
     overflow:hidden;
     transform: scale(0);
     opacity: 0;
     transition: all 1s;
     transition-delay: 0s;
}

#info:hover .infotext{
    top: 20%;  
    opacity: 1;
    transform: scale(1);
    transition: all 1s;
    transition-delay: 0.5s;
}