*{
  margin: 0;
}

.containerboven{
  width: 100%;
  height: 100vh;
}

.comtainermenu{
  height: 200vh;
  width: 100%;
  background: radial-gradient(rgb(67, 67, 67),rgb(30, 29, 29));
  display: flex;
  justify-content:center;
  flex-direction: column;
  gap: 100px;
  flex-grow: 0;
  
}

.boven {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 70px;
  top: 50%;
}
.onder{
  height: 500px;
  width: 100%;
  justify-content: center;
  gap: 70px;
  display: flex;
}
.product{
  height: 400px;
  width: 250px;  
  background: rgba(137, 137, 137, 0.355);
  backdrop-filter: blur(5px) ;
  border-radius: 20px;
  top: 50%;
  transform: translate(-0%,-50%);
  position: relative;
  transition: box-shadow 0.3s,top 0.5s;
  justify-content: center;
  box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.69);
}

.product:hover{
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.69);
  
}

.icons{
  width: 100%;
  height: 50px;
}

.image{
  width: 100%;
  height: 200px;
}

.image img{
  top: 0%;
  left: 50%;
  position: relative;
  transform: translate(-50%,-0%);
  height: 200px;
}

.productinfo{
  width: 100%;
  height: 150px;
}

.fa-solid{
  color: rgb(240, 248, 255);
  right: 15px;
  bottom: 15px;
  position: absolute;
  font-size: 30px;
}
.fa-peanut, .fa-cow, .fa-bread-loaf{
  color: aliceblue;
  top: 50%;
  right: 8%;
  margin-right: 5px;
  position: relative;
  transform: translate(-0%,-50%);
  font-size: 20px;
  float: right;
}

.fa-heart{
  color: aliceblue;
  top: 50%;
  left: 8%;
  position: relative;
  transform: translate(-0%,-50%);
  font-size: 20px;
  float: left;
}


.titel{
  font-size: 30px;
  text-align: center;
  color: aliceblue;
  margin-top: 0px;
  font-family:'Courier New', Courier, monospace;
  font-weight:lighter;
}

.prijs{
  color: aliceblue;
  left: 50%;
  transform: translate(-50%,-0%);
  bottom: 15px;
  position: absolute;
  text-align: center;
  font-size: 25px;
}

.ingredienten{
  color: rgb(240, 248, 255);
  list-style-type:disc;
  margin-left: 14%;
}

.fa-plus{
  display: none;
  scale: 1;
  transition: all 0.3s;
  animation-iteration-count: infinite;
  color: rgb(240, 248, 255);
}

.fa-plus:hover{
  
  scale: 1.4;
}


